<div class="image-container">

    <img src="assets/images/mapa_de_procesos.png" usemap="#image-map">

    <map name="image-map">
        <area target="_blank" alt="Planeamiento Estrategico" title="Planeamiento Estrategico" href="javascript:void(0)"
            coords="109,123,225,176" shape="rect">
        <area target="_blank" alt="Direccion institucional" title="Direccion institucional" href="javascript:void(0)"
            coords="262,124,378,176" shape="rect">
        <area target="_blank" alt="Gestion de procesos" title="Gestion de procesos" href="javascript:void(0)"
            coords="418,122,534,177" shape="rect">
        <area target="_blank" alt="Gestion de riesgos" title="Gestion de riesgos" href="javascript:void(0)"
            coords="573,121,688,176" shape="rect">
        <area target="_blank" alt="Mercadeo y diseño de productos" title="Mercadeo y diseño de productos"
            href="javascript:void(0)" coords="65,352,181,394" shape="rect">
        <area target="_blank" alt="Captacion de fondos" title="Captacion de fondos" href="javascript:void(0)"
            coords="242,351,359,394" shape="rect">
        <area target="_blank" alt="Colocacion de creditos" title="Colocacion de creditos" href="javascript:void(0)"
            coords="376,274,492,316" shape="rect">
        <area target="_blank" alt="Servicios financieros" title="Servicios financieros" href="javascript:void(0)"
            coords="377,416,492,460" shape="rect">
        <area target="_blank" alt="Atencion al cliente" title="Atencion al cliente" href="javascript:void(0)"
            coords="519,353,634,392" shape="rect">
        <area target="_blank" alt="Recuperaciones" title="Recuperaciones" href="javascript:void(0)"
            coords="607,288,727,331" shape="rect">
        <area target="_blank" alt="Macro-Procesos de soporte 1" title="Macro-Procesos de soporte 1"
            href="javascript:void(0)" coords="107,532,278,595" shape="rect">
        <area target="_blank" alt="Macro-Procesos de soporte 2" title="Macro-Procesos de soporte 2"
            href="javascript:void(0)" coords="303,536,461,589" shape="rect">
        <area target="_blank" alt="Macro-Procesos de soporte 3" title="Macro-Procesos de soporte 3"
            href="javascript:void(0)" coords="522,536,703,592" shape="rect">
        <area target="_blank" alt="Auditoria interna" title="Auditoria interna" href="javascript:void(0)"
            coords="68,666,274,708" shape="rect">
        <area target="_blank" alt="Cumplimiento normativo" title="Cumplimiento normativo" href="javascript:void(0)"
            coords="295,668,505,710" shape="rect">
        <area target="_blank" alt="Prevencion del lavado de activos y financiamiento del terrorismo"
            title="Prevencion del lavado de activos y financiamiento del terrorismo" href="javascript:void(0)"
            coords="524,666,731,708" shape="rect">
    </map>

</div>
