<h3 class="dialog text-center" mat-dialog-title>Comunícate</h3>

<mat-dialog-content class="dialog-content-style mt-3 w-100">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-12 mb-3 text-start">
                <span>Encuentra las respuestas a tus dudas</span>
            </div>

            <div class="col-md-12">
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="idTipo" name="idTipo">
                        <mat-option value="1">Consulta</mat-option>
                        <mat-option value="2">Sugerencia</mat-option>
                        <mat-option value="3">Propuesta de cambio</mat-option>
                        <mat-option value="3">Solicitud normativa</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Mensaje</mat-label>
                    <textarea matInput formControlName="cMensaje" name="cMensaje" rows="2"></textarea>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field appearance="outline" class="form-full-width">
                    <mat-label>Correo</mat-label>
                    <input type="text" matInput maxlength="100" formControlName="cCorreo" name="cCorreo">
                </mat-form-field>
            </div>

            <!-- <div class="col-12 mb-3">
                <mat-divider></mat-divider>
            </div> -->
        </div>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="center" class="mb-3">
    <button type="button" mat-flat-button (click)="onEnviar()" [disabled]="form.invalid">Enviar</button>
    <button type="button" mat-button [mat-dialog-close]="dialogResult">Cancelar</button>
</mat-dialog-actions>
