:root {
  --tree-align-vertical: 9px;
  --tree-border: #bdbdbd;
  --tree-hover-background: #fafafa;
}

.hc-success {
  font-weight: normal!important;
  background-color: #66bb6a !important;
  line-height: 12px;
}
