.container-viewpdf {
    width: auto;
    /*height: 700px;*/
    /*margin: 10px;*/
    /*border: 1px solid #555;*/
    background: #eee;
    border-radius: 2px;
    border: 1px solid #dee2e6;
    height: 100%;
}

