<form [formGroup]="form" class="form-widh-sm">
    <div class="row">
        <div class="col-12">
            <h6 class="form-title">
                @if (accionForm == this._const.ACCION_FORM_NEW) {Registrar Normativa}
                @else {Actualizar Normativa}
            </h6>
        </div>

        <div class="col-md-12">
            <app-multipleselect [selectedItems]="tiposNormSeledted" [datasource]="tiposNormRaw"
                [config]="configTNormativaMSelect" (result)="onSelectedTNormativa($event)" [disabled]="disabledForm"></app-multipleselect>
        </div>

        <div class="col-md-12">
            <app-multipleselect [selectedItems]="areasSeledted" [datasource]="areasRaw"
                [config]="configAreasMSelect" (result)="onSelectedAreas($event)" [disabled]="disabledForm"></app-multipleselect>
        </div>

        <div class="col-md-12">
            <app-multipleselect [selectedItems]="perfilesSeledted" [datasource]="perfilesRaw"
                [config]="configPerfilesMSelect" (result)="onSelectedPerfiles($event)" [disabled]="disabledForm"></app-multipleselect>
        </div>

        <div class="col-md-12">
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput #inpNormativa maxlength="800" formControlName="cNombre" name="cNombre">
                <mat-hint align="end" [ngClass]="disabledForm ? 'hc-disabled-form' : ''">{{inpNormativa.value.length}} / 800</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Version</mat-label>
                <input type="text" matInput maxlength="10" formControlName="cVersion" name="cVersion" required pattern="^\d+(\.\d+)?$">
                <mat-error>Error de formato</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 mb-3">
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Fecha de vigencia</mat-label>
                <input type="text" matInput [matDatepicker]="picker" formControlName="cFechaVigenciaCtr"
                    name="cFechaVigenciaCtr">
                <mat-hint [ngClass]="disabledForm ? 'hc-disabled-form' : ''">DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-12">
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Objetivo</mat-label>
                <textarea matInput formControlName="cObjetivo" name="cObjetivo" rows="4"></textarea>
            </mat-form-field>
        </div>

        <div class="col-md-12 mb-3">
            <app-archivo (result)="onArchivoSubido($event)" [archivo]="archivo" [accionForm]="accionForm" [disabled]="disabledForm"></app-archivo>
        </div>

        <div class="col-md-12">
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Palabras clave</mat-label>
                <textarea matInput formControlName="cPalabrasClave" name="cPalabrasClave" rows="2"></textarea>
            </mat-form-field>
        </div>

        <div class="col-md-12">
            <mat-form-field appearance="outline" class="form-full-width">
                <mat-label>Email de contacto</mat-label>
                <input type="email" matInput formControlName="cEmail" name="cEmail" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                <mat-error>Revise la dirección de correo</mat-error>
                <!-- <mat-hint align="start">Correo del dueño del proceso </mat-hint> -->
            </mat-form-field>
        </div>

        <!-- <div class="col-12 mb-3">
            <mat-divider></mat-divider>
        </div> -->

        <div class="col-12 mb-3">
            @if (accionForm!=_const.ACCION_FORM_VIEW) {
            <button type="button" mat-flat-button class="me-2" (click)="onGuardarCitacion()"
                [disabled]="form.invalid || invalidForm">Guardar</button>
            <!-- <button type="button" mat-flat-button class="me-2" (click)="onGuardarCitacion()"
                [disabled]="invalidForm">Guardar</button> -->
            }


            <button type="button" mat-button class="" (click)="onSalirForm()">Salir</button>

        </div>
    </div>
</form>
