body {
    font-size: .875rem;
}

.bg-card {
    background-color: #FFFFFF;
}

.icon-size-4 {
    width: 1rem !important;
    height: 1rem !important;
    min-width: 1rem !important;
    min-height: 1rem !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
}

.animation-expandCollapse {
    transition: display 3s ease 0s;
}